<div class="card mat-card">
    <div class="row">
      <div class="col">
        <div class="container-fluid">
          <h2><b>Estudios</b></h2>
          <div class="btn-edit" style="float: right; position: relative; bottom: 30px; right:15px;">
            <i class="fa fa-plus"></i>
  
                </div>
                  <br>
  
            <div>
                <img src="../assets/img/arg-programa.png" alt="" id="logo-betos">
                <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
                   
                  <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right: 25px;"></i>
                  <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px; right: 15px;"></i>
                      </div>
                </div>
  
                     <B> Curso Argentina Programa 4.0</B>
                     <br>
                      18/10/2022- Al Presente
                      <br>
                      Observaciones: Curso #YoProgramo
                      <br>
                      <br>
  
                      <div>
                        <img src="../assets/img/137408912-013f0d0c-37d1-4dc2-a1b5-77356c1003f3.png" alt="" id="logo-betos">
        
                        <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
                           
                          <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right: 25px;"></i>
                          <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px; right: 15px;"></i>
                              </div>
                        </div>
                    <b> Codo a Codo</b>
                    <br>
                    16/08/2022- 20/12/2022
                      <br> 
                    Observaciones: Curso de Programación Especializado en Java
  
                    <br>
                      <br>
                     
                    <div>
                        <img src="../assets/img/Captura de pantalla 2022-11-30 152848.png" alt="" id="logo-betos">
        
                        <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
                           
  
                              <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right: 25px;"></i>
                              <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px; right: 15px;"></i>
                              </div>
                    </div>
  
                    <b>Curso Digitalízate+</b>
                    <br>
                    18/07/2022- 22/08/2022
                    <br>
                    Observaciones: Curso especializado en Comercio Digital y E-commerce 
                    <br>
                    <br>
  
                    <div>
                        <img src="../assets/img/arg-programa.png" alt="" id="logo-betos">
        
                        <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
                           
                                <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right: 25px;"></i>
                                <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px; right: 15px;"></i>
                            </div>
                    </div>
                    
  
                    <b>Curso de Argentina Programa</b>
                    <br>
                    21/06/2022- 17/08/2022
                    <br>
                    Observaciones: Curso #SePrograma
  
                    <br><br>
  
                    <div>
                        <img src="../assets/img/Captura de pantalla 2022-11-30 152848.png" alt="" id="logo-betos">
        
                        <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
  
                                <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right: 25px;"></i>
                                <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px; right: 15px;"></i>
                              </div>
                    </div>
                   <b> Curso Digitalízate</b>
                   <br> 
                    9/05/2022-16/06/2022
                    <br>
                    Observaciones: Curso especializado en Marketing Digital
  
                    <br><br>
                    <div>
                        <img src="../assets/img/Captura de pantalla 2022-11-30 153958.png" alt="" id="logo-betos">
        
                        <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
                           
                                <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right: 25px;"></i>
                                <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px; right: 15px;"></i>
                              </div>
                    </div>
                   <b> English House - Instituto de Inglés</b>
                   <br>
                   03/2017-12/2017
                   <br> 
                   Observaciones: Curso Realizado Teens 2
                   <br>
                   Dirección: Wolf Schcolnik 79, Villa Tesei, Provincia de Buenos Aires
                   <br><br>
  
                   <div>
                        <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
                           
                                <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right: 25px;"></i>
                                <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px; right: 15px;"></i>
                              </div>
                    </div>
  
                    <div style="margin-left: 150px;">
                    <b>Escuela De Educación Secundaria Nº2 "Gral. Juan Lavalle"</b>
                   <br>
                    03/2013 – 07/12/2017
                    <br>
                    Egresada Con Bachillerato En Ciencias Sociales
                    <br>
                    Observaciones: Segundo Año a Sexto Año Secundaria
                    <br>
                    Dirección: Valencia y, Moisés Lebenshon 827, Hurlingham, Provincia de Buenos Aires
                    <br><br>
                </div>
                    <div>
                        <img src="../assets/img/images.jpg" alt="" id="logo-betos">
        
                        <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
                           
                                <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right: 25px;"></i>
                                <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px; right: 15px;"></i>
                              </div>
                    </div>
                    <b>Instituto San José de Calasanz</b>
                    <br>
                    03/2010 – 12/2012
                    <br>
                    Observaciones: Primer y Segundo Año Secundaria
                    <br>
                    Dirección: Juana Azurduy 201, Villa Tesei, Provincia de Buenos Aires
                    <br> <br>
        </div>            
        </div>
        </div>
        </div>