<div class="card mat-card">
    <div class="row">
       <div class="col">
           <div class="container-fluid">
<h2><b>Te invito a ver mis proyectos realizados:</b></h2>

     <div class="btn-edit" style="float: right; position: relative; bottom: 30px; right:15px;">
      <i class="fa fa-plus"></i>
   </div>
                      
    <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
    
      <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right:10px;"></i>
      <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px;"></i>
       </div>
       <br>
       
       <div class="row" id="cartas">
         <div class="col-sm-3">
       <div class="card text-center" style="width: 20rem;">
         <img src="../assets/img/primer_proyecto.png" class="card-img-top" alt="..." height="190px">
         <br>
         <div class="card-body">
          
           <a href="https://belen1998a.github.io/actividad-1/" class="btn btn-success">Vamos a Ver!</a>
         </div>
         </div>
         </div>
         
         
         
           <div class="col-sm-3">
         <div class="card text-center" style="width: 20rem;">
           <img src="../assets/img/segundo_proyecto.png" class="card-img-top" alt="...">
           <div class="card-body">
             <a href="https://belen1998a.github.io/Integrador-CaC/" class="btn btn-success">Vamos a Ver!</a>
           </div>
           </div>
           </div>

           <div class="col-sm-3">
             <div class="card text-center" style="width: 20rem;">
               <img src="../assets/img/tercer_proyecto.png" class="card-img-top" alt="..." height="215px">
               <div class="card-body">
                 <a href="https://belen1998a.github.io/integrador-2/ventaticket.html" class="btn btn-success">Vamos a Ver!</a>
               </div>
               </div>
               </div>  
       </div>

       <br>
       <div class="row" id="cartas">
       <div class="col-sm-3">
         <div class="card text-center" style="width: 20rem;">
           <video src="../assets/img/Tab-Socios S.A.mp4" class="card-img-top" height="215px"></video>
           <div class="card-body">
             <a href="https://github.com/Belen1998A/CrudBelenT.git" class="btn btn-success">Ver Codigo!</a>
             <a href="../assets/img/Tab-Socios S.A.mp4" class="btn btn-success">Ver Video!</a>
           </div>
           </div>
           </div>

           <div class="col-sm-3">
             <div class="card text-center" style="width: 20rem;">
               <img src="../assets/img/cuarto-proyecto.png" class="card-img-top" height="215px">
               <div class="card-body">
                 <a href="https://github.com/Belen1998A/Ingreso-Colegio-Lavalle.git" class="btn btn-success">Ver Codigo!</a>
                 <a href="img/Tab-Pagina Principal.mp4" class="btn btn-success">Ver Video!</a>
               </div>
               </div>
               </div>
               
               <div class="col-sm-3">
                 <div class="card text-center" style="width: 20rem;">
                   <img src="../assets/img/quintoproyecto.png" class="card-img-top" height="215px">
                   <div class="card-body">
                     <a href="https://belen1998a.github.io/Front-YoProgramo/" class="btn btn-success">Vamos a Ver!</a>
                   </div>
                   </div>
                   </div>
       </div>
          
 </div>
 </div>
</div>
<br>
