<header>
    <nav class="navbar navbar-expand-lg" id="Franja">
        <div class="container-fluid" >
          
            <img src="../assets/img/image-removebg-preview.png" alt="Logo" width="170px">

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <div class="wrapper">
                    <ul>
                        <li class="facebook"><a href="https://www.facebook.com/beluRT1998?mibextid=ZbWKwL"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                        <li class="whatsapp"><a href="https://wa.me/5491151571908"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
                        <li class="github" style="margin-right: 15px;"><a href="https://github.com/Belen1998A"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <a class="btn btn-primary" href="#" role="button">Login</a>
            </div>
          </div>
        </nav>
    </header>

    <br><br><br>
    <div class="card mat-card" id="first-card">
      <div id="profile-background">
        <img src="../assets/img/lenguajes-programacion.jpg">
      </div>

          <div id="info">
              <div id="info-img">
                <img class="profile-image" src="../assets/img/Imagen1-removebg-preview.png">
                <i class="fa fa-pencil"></i>
        </div>

        <div class="container-fluid">
          <h1><b>Alejandra Belén R Tolosa</b></h1> <i class="fa-solid fa-pen"></i>
          <div id="info-company">
              <h5 class="fa fa-school"> Bachiller en Ciencias Sociales</h5>
            
          </div>
          <div id="info-contact">
            <span>
              <h5 class="fa fa-location-dot"> Buenos Aires, Argentina </h5>
            </span>
            <br>
            <span>
              <a href="#" class="fa-solid fa-circle-info">Informacion De Contacto</a>
              
          </span>
          </div>
          <br>
          <div >
              <button class="btn" type="button" id="botones"><b>Tengo Interes En</b></button>
              <button class="btn" type="button" id="botones"><b>Añadir Seccion</b></button>
              <button class="btn" type="button" id="botones"><b>Más</b></button>
            </div>
        </div>
          </div>
          </div>