<div class="card mat-card">
    <div class="row">
      <div class="col">
        <div class="container-fluid">
          <h2><b>Experiencia</b></h2>
          <div class="btn-edit" style="float: right; position: relative; bottom: 30px; right:15px;">
            <i class="fa fa-plus"></i>

      
            
                </div>

            <div>
                <img src="../assets/img/Imagen2.png" alt="" id="logo-betos">

                <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
                      <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right:10px;"></i>
                      <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px;"></i>
                      </div>
            
             
          <b>Papelera “El Gaucho” (Empresa Familiar)</b>
          <br>
          04/2014 – 04/2017
          <br>
          Las tareas que realizaba eran:
          <ul style="margin-left: 150px ;">
          <li> Atención al Cliente </li>
          <li>	Reposición </li>
        <li>	Limpieza   </li>
        <li> Cajera        </li>
        </ul>
    </div> 

        
            <div>
                <img src="../assets/img/1622492892_1494309738.png" alt="" id="logo-betos">

                <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
                      
                      <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right:25px;"></i>
                      <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px; right:15px;"></i>
                    </div>

          <b>Lomitos Beto’s </b>
          <br>
          07/2017-03/2018
          <br>
          Lugar de Trabajo: Av. Brig. Gral. Juan Manuel de Rosas 658, Morón 
          <br>
          Las tareas que realizaba eran:
          <ul style="margin-left: 150px;">
            <li> Atención al Cliente </li>
            <li>	Reposición </li>
          <li>	Limpieza   </li>
          <li> Cajera        </li>
          <li> Gambusera   </li>
          </ul>
        </div>
        <div>
          <img src="../assets/img/Imagen1.png" alt="" id="logo-betos">

          <div class="btn-edit" style="float: right; position: relative; bottom: 30px;">
                <i class="fa fa-pencil" style="float: left; position: relative; bottom: -30px; right:25px;"></i>
                <i class="fa fa-trash" style="float: right; position: relative; bottom: -30px; right:15px;"></i>
              </div>
        <b>Distribuidora “Abuelito Dime tu” (Empresa Propia)</b>
        <br>
        05/2018-05/02/2021
        <br>
        Las tareas que realizaba eran:
        <ul style="margin-left: 150px ;">
          <li> Atención al Cliente </li>
          <li>	Reposición </li>
          <li> Delivery </li>
          </ul>
      </div>
    </div>
  </div>

  <div>
      
</div>
</div>
</div>